@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-ma-shan-zheng: var(--font-ma-shan-zheng);
  --font-noto-serif-sc: var(--font-noto-serif-sc);
  --font-zcool-kuaile: var(--font-zcool-kuaile);
  --font-zcool-qingke-huangyou: var(--font-zcool-qingke-huangyou);
  --font-long-cang: var(--font-long-cang);
}

.font-ma-shan-zheng {
  font-family: var(--font-ma-shan-zheng), "KaiTi", "STKaiti", serif;
}

.font-noto-serif-sc {
  font-family: var(--font-noto-serif-sc), "SongTi", "STSong", serif;
}

.font-zcool-kuaile {
  font-family: var(--font-zcool-kuaile), cursive;
}

.font-zcool-qingke-huangyou {
  font-family: var(--font-zcool-qingke-huangyou), sans-serif;
}

.font-long-cang {
  font-family: var(--font-long-cang), cursive;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
